.badge {
  display: inline-block;
  padding: 3px 11px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
}
.badge-partially_paid {
  color: #3b82f6;
  background-color: #eff6ff;
  border: 1px solid #bfdbfe;
}

.badge-unpaid {
  color: #f97316;
  background-color: #fff7ed;
  border: 1px solid #fed7aa;
}

.badge-paid {
  color: #16a34a;
  background-color: #f0fdf4;
  border: 1px solid #bbf7d0;
}
